.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerCase {
  position: relative;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #2e294e;
}

.case {
  width: 75px;
  height: 75px;
  border: 6px solid #043dcb;
  background-color: #043dcb;
}

.row {
  display: flex;
}

.board > .row:first-child > .case:first-child {
  border-top-left-radius: 5px;
}

.board > .row:first-child > .case:last-child {
  border-top-right-radius: 5px;
}

.board > .row:last-child > .case:first-child {
  border-bottom-left-radius: 5px;
}

.board > .row:last-child > .case:last-child {
  border-bottom-right-radius: 5px;
}

.boardBottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.foot {
  margin-top: -2px;
  width: 75px;
  height: 30px;
  border: 5px solid #043dcb;
  background-color: #043dcb;
  border-radius: 50% 50% 5px 5px;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.innerInfo {
  min-height: 51px;
}
