@import './variables.module.scss';

.container {
  height: 100%;
  background-color: $background-color;
}

.main {
  height: 95%;
  display: flex;
}

.about {
  width: 33%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
  background-color: $background-color;
}

.headLine {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: $primary-color;
  font-weight: 400;
}

.game {
  width: 67%;
}

@media (max-width: 768px) {
  .about {
    width: 100%;
  }

  .game {
    display: none;
  }
}
